.body {
  background-color: #5086d5;
}

.App-header {
  text-align: center;
  color: #fff;
  background-color: #231f20 !important;
  border-radius: 1em;
}

.App-header h2 {
  font-family: "Alfa Slab One", cursive;
  font-family: "Ultra", serif;
}

.bottom-nav {
  background-color: #7eae53;
  color: #fff;
  border-radius: 0 0 1em 1em;
}
